*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}
input {
  display: block;
}

input:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
button:hover,
button:active {
  opacity: 0.89;
}
header a:focus,
header a:hover {
  opacity: 0.9;
  color: red;
}
