*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}
input {
  display: block;
}

input:hover,
label:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
button:hover,
button:active {
  opacity: 0.89;
}
header a:focus,
header a:hover,
footer a:focus,
footer a:hover {
  opacity: 0.9;
  color: red;
}

.content-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.content-container:not(.loading) {
  opacity: 1;
}
